<html>
    <style>
        @font-face {
            font-family: 'Trebuchet MS', sans-serif;
        }
        html{
        	font-family: 'Trebuchet MS', sans-serif;
            /*line-height: 1.3;*/
        }
        p{
            margin: 0px;
        }
        a{
            text-decoration: none;
            color: #ff6600;
        }
    </style>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        let hover_object;
        function ChangeURLPicture(event, element)
        {
            abz = element;
            let temp = abz.src
            if ( abz.src.includes("thumb"))
            {abz.src = "/static/image_posts/" + temp.split("/")[temp.split("/").length - 1];}
            else {abz.src = "/static/image_posts/thumb/" + temp.split("/")[temp.split("/").length - 1];}
        }
        function getCoords(elem) { // кроме IE8-
          var box = elem.getBoundingClientRect();
          return {
            top: box.top + pageYOffset,
            left: box.left + pageXOffset
                };
        }
        function ref_over(event, element)
        {
            show_timer = setTimeout(ShowReply, 500, event, element)
        }
        function ref_out()
        {
            clearTimeout(show_timer);
        }
        function show_over(event)
        {
            //запускаем таймер на удаление постов
            collapse_timer = setTimeout(deleteDivvv, 500, event)
        }
        function show_out(event)
        {
            if (typeof collapse_timer !=="undefined")
            {
                hover_object = event.target
                //alert('hover left = ' + hover_object.style.left)
                clearTimeout(collapse_timer)
                //Нужна проверка куда вернулись
                let thread_div = document.getElementById('thread_div');
                let all_replies = thread_div.getElementsByClassName("reply_post")
                //удаление сиблингов
                let temp = -1;
                Array.from(all_replies).forEach((item, index, array) =>
                {
                    //костыль, надо будет переделать
                    if ((item.id == hover_object.id)&&(item.style.left == hover_object.style.left))
                    {
                        //alert('index = ' + index + ' ')
                        temp = index
                    }
                    if ((temp > -1)&&(index > temp))
                    {
                        //alert('temp = ' + temp + ' index = ' + index + ' ')
                        item.remove()
                    }
                });
            }
        }
        function ShowReply(event, element)
        {
            let id_post = ''
            if (element.classList.contains('low_answer'))
            {
                id_post = 'post_num_' + element.innerHTML
            }
            else if (element.classList.contains('inline_reply'))
            {
                id_post = 'post_num_' + element.innerHTML.split("&gt;&gt;")[1]
            }
            let p = document.getElementById(id_post);
            let p_prime = p.cloneNode(true);
            let p_prime_id = p_prime.id + '_show'
            p_prime.id = p_prime_id
            p_prime.style.position = 'absolute';
            p_prime.classList.add('reply_post')
            
            p_prime.addEventListener('mouseleave', show_over)
            p_prime.addEventListener('mouseenter', show_out)
            let thread_div = document.getElementById('thread_div');
            thread_div.appendChild(p_prime);
            //потом добавим условие на расположение, слева или справа
            p_prime.style.left = event.pageX - getCoords(thread_div).left - 20
            p_prime.style.top = event.pageY - getCoords(thread_div).top - 20
            p_prime.style.border = "1px solid black"
            p_prime.style.background = "#cecece"
            p_prime.style.borderRadius = "7px"
            p_prime.style.border = '5px double red'
            p_prime.style.zIndex = "10"
        }
        function deleteDivvv(event) 
        {
            if (!(event.relatedTarget.id.includes('_show')))
            {
                let thread_div = document.getElementById('thread_div');
                let all_replies = thread_div.getElementsByClassName("reply_post")
                Array.from(all_replies).forEach((item, index, array) =>
                {
                  item.remove()
                });
            }
        }

        //document.getElementById('submit_hidden').value = {}
        let posts_to_del = []

        function checkFluency(event, element)
        {
            let sub_del = document.getElementById('submit_hidden');
            if(element.checked == true)
            {
                posts_to_del.push(element.value)
                sub_del.value = String(posts_to_del)
                //alert(sub_del.value)
            }
            else
            {
                posts_to_del.splice(posts_to_del.indexOf(element.value), 1)
                sub_del.value = String(posts_to_del)
                //alert(sub_del.value)
            }
            let all_checkboxes = document.getElementsByClassName("del_checkbox")
            //alert(all_checkboxes)
            Array.from(all_checkboxes).forEach((item, index, array) =>
            {
                if (item.value == element.value)
                {
                    item.checked = element.checked
                }
            });
        }
    </script>

    <style>
       .post {
            margin: 4px 0 4px 0px;
            border: 1px solid #d2d2d2;
            background: #dddddd;
            border-radius: 3px;
            /*padding: 10px;*/
            padding-bottom:3px;
            padding-left:3px;
            padding-right:3px;
            padding-top:1px;
            display: inline-block;
            margin-top: 5px;
        }
        .OP_post {
            padding: 10px;
            display: inline-block;
            margin-top: 5px;
        }
        .post_details {
            font-size: 0.9em;
            color: #5d5d5d;
            margin-left: 17px;
        }
    </style>


    <head>
        <h1>2ch</h1>
        <br>
        {% if current_user.is_authenticated %}
	    <a href="{{ url_for('logout') }}">Logout</a>
	    <br>
	    <br>
	    {% endif %}
    </head>
    <body bgcolor="#eeeeeee">
        {% block content %}{% endblock %}
  </body>
</html>
