{% extends "base.html" %}

{% block content %}
    <script>
        function ready() 
        {
            alert('DOM готов');
            // let submit_but;
            // submit_but = document.getElementById('submit_board');
            // submit_but.addEventListener('onsubmit', submit_click)
        }
        document.addEventListener("DOMContentLoaded", ready);
        function submit_click()
        {

            // if (event.target.post.value != '')
            // {
            //     event.target.submit();
            // }
            if (event.target.image.value != '')
            {
                event.target.submit();
            }

            alert('Pic required.')
            return false;

            // else if ()
            // {

            // }
            // else
            // {

            // }

            // alert('hey');
            // alert(event.target.post.value);
            // alert(event.target.image.value);
            //event.target.submit();
            // return false;
        }
    // {% with messages = get_flashed_messages() %}
    //     {% if messages %}
    //         {% for message in messages %}
    //             alert( {{ message }} )
    //         {% endfor %}
    //     {% endif %}
    // {% endwith %}
    </script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

        {% for thread in threads %}
            {% for post in thread %}
                {% with %}
                    {% set loop_index = loop.index %}
                    {% set board_post = 1 %}
                    {% include '_post.html' %}
                {% endwith %}
            {% endfor %}
            <hr>
        {% endfor %}
        <br>
            <p>
                <a href="{{ url_for('board_b', board=board, page=1) }}">1</a> 
                <a href="{{ url_for('board_b', board=board, page=2) }}">2</a> 
                <a href="{{ url_for('board_b', board=board, page=3) }}">3</a> 
                <a href="{{ url_for('board_b', board=board, page=4) }}">4</a> 
                <a href="{{ url_for('board_b', board=board, page=5) }}">5</a> 
            </p>
        <br>
        <br>

        <div style="display: flex; justify-content: center;">
            <form id="submit_board" action="" enctype="multipart/form-data" method="post" onsubmit="return submit_click()" novalidate>
                {{ form.hidden_tag() }}
                    <div style="padding: 5px  25px; border: white solid 3px; border-radius: 7px">
                        {{ form.image.label }}<br>
                        {{ form.image(size=16) }}<br>
                    </div>
                    <br>
                    <div style="padding: 5px  25px; border: white solid 3px; border-radius: 7px">
                        {{ form.post.label }}<br>
                        {{ form.post(cols=48, rows=6) }}<br>
                        <!--{% for error in form.post.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}-->
                    {{ form.submit() }}
                    </div>
            </form>
            
        </div>

{% endblock %}
