{% extends "base.html" %}

{% block content %}

        {% for post in posts %}
        {{post.id}}
        {{post.timestamp}}
        {% if post.id == post.OP_num %}
        <a href="{{ url_for('thread_big', board=post.board_name, thread_num=post.id) }}"> reply</a>
        {% endif %}
        <p>{{post.body}}</p>
        <br>
        {% endfor %}

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>

{% endblock %}
