{% extends "base.html" %}

{% block content %}
    <script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                alert( {{ message }} )
            {% endfor %}
        {% endif %}
    {% endwith %}
    </script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

        {% for thread in threads %}
            {% for post in thread %}
                {% include _post.html %}
            {% endfor %}
        {% endfor %}
        <br>
            <p>
                <a href="{{ url_for('board_b', board=board, page=1) }}">1</a> 
                <a href="{{ url_for('board_b', board=board, page=2) }}">2</a> 
                <a href="{{ url_for('board_b', board=board, page=3) }}">3</a> 
                <a href="{{ url_for('board_b', board=board, page=4) }}">4</a> 
                <a href="{{ url_for('board_b', board=board, page=5) }}">5</a> 
            </p>
        <br>
        <br>

        <form action="" enctype="multipart/form-data" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.image.label }}<br>
                {{ form.image(size=16) }}<br>
            </p>
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>

{% endblock %}
