{% extends "base.html" %}
 
{% block content %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        let hover_object;
        function ChangeURLPicture(event, element)
        {
            abz = element;
            let temp = abz.src
            if ( abz.src.includes("thumb"))
            {abz.src = "/static/image_posts/" + temp.split("/")[temp.split("/").length - 1];}
            else {abz.src = "/static/image_posts/thumb/" + temp.split("/")[temp.split("/").length - 1];}
        }
        function getCoords(elem) { // кроме IE8-
          var box = elem.getBoundingClientRect();
          return {
            top: box.top + pageYOffset,
            left: box.left + pageXOffset
                };
        }
        function ref_over(event, element)
        {
            show_timer = setTimeout(ShowReply, 500, event, element)
        }
        function ref_out()
        {
            clearTimeout(show_timer);
        }
        function show_over(event)
        {
            //запускаем таймер на удаление постов
            collapse_timer = setTimeout(deleteDivvv, 500, event)
        }
        function show_out(event)
        {
            if (typeof collapse_timer !=="undefined")
            {
                hover_object = event.target
                //alert('hover left = ' + hover_object.style.left)
                clearTimeout(collapse_timer)
                //Нужна проверка куда вернулись
                let thread_div = document.getElementById('thread_div');
                let all_replies = thread_div.getElementsByClassName("reply_post")
                //удаление сиблингов
                let temp = -1;
                Array.from(all_replies).forEach((item, index, array) =>
                {
                    //костыль, надо будет переделать
                    if ((item.id == hover_object.id)&&(item.style.left == hover_object.style.left))
                    {
                        //alert('index = ' + index + ' ')
                        temp = index
                    }
                    if ((temp > -1)&&(index > temp))
                    {
                        //alert('temp = ' + temp + ' index = ' + index + ' ')
                        item.remove()
                    }
                });
            }
        }
        function ShowReply(event, element)
        {
            let id_post = ''
            if (element.classList.contains('low_answer'))
            {
                id_post = 'post_num_' + element.innerHTML
            }
            else if (element.classList.contains('inline_reply'))
            {
                id_post = 'post_num_' + element.innerHTML.split("&gt;&gt;")[1]
            }
            let p = document.getElementById(id_post);
            let p_prime = p.cloneNode(true);
            let p_prime_id = p_prime.id + '_show'
            p_prime.id = p_prime_id
            p_prime.style.position = 'absolute';
            p_prime.classList.add('reply_post')
            
            p_prime.addEventListener('mouseleave', show_over)
            p_prime.addEventListener('mouseenter', show_out)
            let thread_div = document.getElementById('thread_div');
            thread_div.appendChild(p_prime);
            //потом добавим условие на расположение, слева или справа
            p_prime.style.left = event.pageX - getCoords(thread_div).left - 20
            p_prime.style.top = event.pageY - getCoords(thread_div).top - 20
            p_prime.style.border = "1px solid black"
            p_prime.style.background = "#cecece"
            p_prime.style.borderRadius = "7px"
            p_prime.style.border = '5px double red'
            p_prime.style.zIndex = "10"
        }
        function deleteDivvv(event) 
        {
            if (!(event.relatedTarget.id.includes('_show')))
            {
                let thread_div = document.getElementById('thread_div');
                let all_replies = thread_div.getElementsByClassName("reply_post")
                Array.from(all_replies).forEach((item, index, array) =>
                {
                  item.remove()
                });
            }
        }
    </script>

    <style>
       .post {
            border: 1px solid black;
            background: #cecece;
            border-radius: 7px;
            padding: 10px;
            display: inline-block;
            margin-top: 5px;
        }
        .OP_post {
            padding: 10px;
            display: inline-block;
            margin-top: 5px;
        }
    </style>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <h2><a href="{{ url_for('board_b', board=board) }}">/{{board}}</a></h2>
    <br>
    <br>


    <div style="position: relative;" id="thread_div">
    {% for post in posts %}
        {% if (post.id == post.OP_num) %}
        <div class="OP_post" id="post_num_{{post.id}}">
        {% else %}
        <div class="post" id="post_num_{{post.id}}">
        {% endif %}
        {{post.id}}
        {% if (post.id == post.OP_num) or (post.OP_flag == 1) %}
        <span style="color:#11ff00">#OP</span>
        {% endif %}
        {% if (post.is_sage == 1) %}
        <span style="color:#1100ff">#SAGE</span>
        {% endif %}
        {{post.timestamp}}
        {% if current_user.is_authenticated %}
        <input type="checkbox" value={{post.id}} name='del_checkbox'>
        {% endif %}
        <p>
            {% if post.image_ref %}
                <img src="/static/image_posts/thumb/{{post.image_ref}}" onclick="ChangeURLPicture(event, this)">
            {% endif %}
            {{post.body|regex_replace|simple_markup}}
        </p>
        

        
        {% if (post._answers|count) > 1 %}
            <p>
            <i>
                {% for i in range((post._answers)|length) %}
                    {% if i != 0 %}, {% endif %}<a href="#post_num_{{ post._answers[i] }}" onmouseenter="ref_over(event, this)" onmouseleave="ref_out()" class="low_answer">{{ post._answers[i] }}</a>
                {% endfor %}
            </i>
            </p>
        {% endif %}

        {% if (post._answers|length) == 1 %}
            <p>
            <i>
                <a href="#post_num_{{ post._answers[0] }}" onmouseenter="ref_over(event, this)" onmouseleave="ref_out()" class="low_answer">{{ post._answers[0] }}</a>
            </i>
            </p>
        {% endif %}
        
        
        
            
        </div>
        <br>
    {% endfor %}
    </div>


{% if current_user.is_authenticated %}
<div>
    <form action="" method="post" novalidate>
        <p>
            {{ form_del.submit.label }}
            {{ form_del.submit() }}
        </p>
    </form>
</div>
{% endif %}    
<div>
    <form action="" enctype="multipart/form-data" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.image.label }}<br>
            {{ form.image(size=16) }}<br>
        </p>
        <p>
            {{ form.post.label }}<br>
            {% if guest == posts[0].guest_id %}
            {{ form.written_by_OP.label }}
            {{ form.written_by_OP }}<br>
            {{ form.sage.label }}
            {{ form.sage }}<br>
            {% endif %}
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <div class="g-recaptcha" data-sitekey="123"></div>
    </form>
</div>
{% endblock %}
