{% extends "base.html" %}

{% block content %}
    <h2><a href="{{ url_for('board_b', board=board) }}">/{{board}}</a></h2>
    <br>
    <br>
    {% for post in posts %}
    {{post.id}}
    {{post.timestamp}}
        <p>
        {% if post.image_ref %}
        <a href="/static/image_posts/{{post.image_ref}}"><img src="/static/image_posts/thumb/{{post.image_ref}}"></a>
        {% endif %}
        {{post.body}}
        </p>
    <br>
    {% endfor %}

     <form action="" enctype="multipart/form-data" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.image.label }}<br>
            {{ form.image(size=16) }}<br>
        </p>
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}
