{% extends "base.html" %}
 
{% block content %}
        <script>
        function isNotMax(e)
        {
            e = e || window.event;
            var target = e.target || e.srcElement;
            var code=e.keyCode?e.keyCode:(e.which?e.which:e.charCode)
            //alert('dfd')
            switch (code){
                case 13:
                case 8:
                case 9:
                case 46:
                case 37:
                case 38:
                case 39:
                case 40:
                return true;
            }
            console.log(target.value.length <= target.getAttribute('maxlength'));
            return target.value.length <= target.getAttribute('maxlength');
        }

        function ready() 
        {
            //alert('DOM готов');
            let board_post = document.getElementById('post');
            board_post.setAttribute(("maxlength"), 1000);
            board_post.addEventListener('keydown', isNotMax);//, return isNotMax(event))
        }
        document.addEventListener("DOMContentLoaded", ready);

        function submit_click()
        {

            if (event.target.post.value != '')
            {
                event.target.submit();
            }
            if (event.target.image.value != '')
            {
                if (event.target.image.value.split('.')[event.target.image.value.length - 1] == 'jpg') or (event.target.image.value.split('.')[event.target.image.value.length - 1] == 'png')  or (event.target.image.value.split('.')[event.target.image.value.length - 1] == 'gif')  or (event.target.image.value.split('.')[event.target.image.value.length - 1] == 'jpeg')
                {
                    event.target.submit();
                }
            }

            alert('Pic or text required.')
            return false;
        }


    </script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <h2 align="center"><a href="{{ url_for('main.board_b', board=board) }}">/{{board}}</a></h2>
    <br>
    <br>


    <div style="position: relative;" id="thread_div">
    {% for post in posts %}
        {% with %}
            {% set loop_index = loop.index %}
            {% set board_post = 0 %}
            {% include '_post.html' %}
        {% endwith %}
    {% endfor %}
    </div>

<br>
{% if current_user.is_authenticated %}
<div>
    <form name="submit_del" action="" method="post" value="del" novalidate>
        {{ form_del.hidden_tag() }}
        <p>
            {{ form_del.submit_del.label }}
            {{ form_del_submit_hidden }}
            {{ form_del.submit_del() }}
        </p>
    </form>
</div>
{% endif %}    
<div style="display: flex; justify-content: center;">
    <form name="submit_post" action="" enctype="multipart/form-data" method="post" onsubmit="return submit_click()" novalidate>
        {{ form.hidden_tag() }}
        <div style="padding: 5px  25px; border: white solid 3px; border-radius: 7px">
            {{ form.image.label }}<br>
            {{ form.image(size=16) }}<br>
        </div>
        <br>
        <div style="padding: 5px  25px; border: white solid 3px; border-radius: 7px">
            {% if guest == posts[0].guest_id %}
                {{ form.written_by_OP.label }}
                {{ form.written_by_OP }}<br>
            {% endif %}
            {{ form.sage.label }}
            {{ form.sage }}<br>
            {{ form.post.label }}<br>
            {{ form.post(cols=48, rows=6) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.submit() }}
        </div>
        <!--<div class="g-recaptcha" data-sitekey="123"></div>-->
    </form>
</div>
{% endblock %}
